<!DOCTYPE html>

<html class="full-height" lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta charset="utf-8" />
	<title>Token Manager</title>
	<script type="text/javascript">
		function scGetRadWindow() {
			var currentRadWindow = null;
			if (window.radWindow)
				currentRadWindow = window.radWindow;
			else if (window.frameElement.radWindow)
				currentRadWindow = window.frameElement.radWindow;
			return currentRadWindow;
		}

		function scCloseRadWindow() {
			var currentRadWindow = scGetRadWindow();
			if (currentRadWindow != null) {
				// Hack for IE. Window is not closed because code thinks that window is already closed. Calling 'show' before closing helps to solve the problem.
				currentRadWindow.show();
				currentRadWindow.close();
			}
			return false;
		}
	</script>
	<link rel="stylesheet" href="tokenmanager/tokenstyle.css">

</head>
<body>

	<div ng-controller="master as vm">
		<h3 class="title-bar"><span id="tmtitle">Token Manager</span><span ng-if="vm.isRTE" class="close" onclick="scCloseRadWindow();"></span></h3>
		<h3>TokenManager</h3>
		<div ng-if="!vm.isRTE" id="tabs" class="tab-pane">
			<span ng-click="vm.activePage = 'selector'" ng-class="vm.activePage==='selector' ? 'selected' : ''" class="tab">Token Selector</span>
			<span ng-click="vm.activePage = 'incorporator'" ng-class="vm.activePage==='incorporator' ? 'selected' : ''" class="tab">Token Incorporator</span>
			<span ng-click="vm.activePage = 'unzipper'" ng-class="vm.activePage==='unzipper' ? 'selected' : ''" class="tab">Token Unzipper</span>

		</div>
		<div id="functional">
			<tokenselector ng-if="vm.activePage === 'selector'" master="vm"></tokenselector>
			<tokenincorporator ng-if="vm.activePage === 'incorporator'" master="vm"></tokenincorporator>
			<tokenunzipper ng-if="vm.activePage === 'unzipper'"></tokenunzipper>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
	<script src="tokenmanager/angular.js"></script>

	<script src="tokenmanager/app.js"></script>
	<script src="tokenmanager/master.js"></script>
	<script src="tokenmanager/tokenfactory.js"></script>
	<script src="tokenmanager/tokenselectorcontroller.js"></script>
	<script src="tokenmanager/tokenselectordirective.js"></script>
	<script src="tokenmanager/tokenincorporatordirective.js"></script>
	<script src="tokenmanager/tokenincorporatorcontroller.js"></script>
	<script src="tokenmanager/tokenunzipperdirective.js"></script>
	<script src="tokenmanager/tokenunzippercontroller.js"></script>
	<script src="tokenmanager/contenttreedirective.js"></script>
	<script src="tokenmanager/contenttreecontroller.js"></script>
	<script src="tokenmanager/tokenextradatadirective.js"></script>
	<script src="tokenmanager/dirpagination.js"></script>
<preset></preset>
<datasource></datasource>

</body>


</html>