<!DOCTYPE html>

<html class="fullheight" lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
<head>
	<meta charset="utf-8" />
	<title>Token Manager</title>
	<link rel="stylesheet" href="tokenmanager/tokenstyle.css">
</head>
<body class="fullheight">

	<div class="fullheight" ng-controller="master as vm">
		<h3>Token Manager<span ng-hide="!vm.isRTE" class="close" onclick="window.close()"></span></h3>
		<div ng-if="!vm.isRTE" id="tabs" class="tabPane">
			<span ng-click="vm.activePage = 'selector'" ng-class="vm.activePage==='selector' ? 'selected' : ''" class="tab">Token Selector</span>
			<span ng-click="vm.activePage = 'converter'" ng-class="vm.activePage==='converter' ? 'selected' : ''" class="tab">Token Converter</span>
			<span ng-click="vm.activePage = 'incorporator'" ng-class="vm.activePage==='incorporator' ? 'selected' : ''" class="tab">Token Incorporator</span>
			<span ng-click="vm.activePage = 'unzipper'" ng-class="vm.activePage==='unzipper' ? 'selected' : ''" class="tab">Token Unzipper</span>

		</div>
		<div id="functional">
			<tokenselector ng-if="vm.activePage === 'selector'" master="vm"></tokenselector>
			<tokenconverter ng-if="vm.activePage === 'converter'" master="vm"></tokenconverter>
			<tokenincorporator ng-if="vm.activePage === 'incorporator'" master="vm"></tokenincorporator>
			<tokenunzipper ng-if="vm.activePage === 'unzipper'"></tokenunzipper>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
	<script src="tokenmanager/angular.js"></script>
	<script src="tokenmanager/app.js"></script>
	<script src="tokenmanager/master.js"></script>
	<script src="tokenmanager/tokenfactory.js"></script>
	<script src="tokenmanager/tokenselectorcontroller.js"></script>
	<script src="tokenmanager/tokenselectordirective.js"></script>
	<script src="tokenmanager/tokenconverterdirective.js"></script>
	<script src="tokenmanager/tokenconvertercontroller.js"></script>
	<script src="tokenmanager/tokenincorporatordirective.js"></script>
	<script src="tokenmanager/tokenincorporatorcontroller.js"></script>
	<script src="tokenmanager/tokenunzipperdirective.js"></script>
	<script src="tokenmanager/tokenunzippercontroller.js"></script>


</body>


</html>