<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<events>
			<event name="item:saved">
				<handler type="TokenManager.Pipelines.Saved.TokenSaved, TokenManager" method="OnItemSaved"/>
			</event>
			<event name="item:deleting">
				<handler type="TokenManager.Pipelines.Deleting.TokenDeleting, TokenManager" method="OnItemDeleting"/>
			</event>
			<event name="item:moved">
				<handler type="TokenManager.Pipelines.Moved.TokenMoved, TokenManager" method="OnItemMoved"/>
			</event>
		</events>
		<pipelines>
			<initialize>
				<processor type="TokenManager.Pipelines.Initialize.InitializeTokenManager, TokenManager" >
					<Tokens type="TokenManager.Management.DefaultTokenKeeperService, TokenManager">
						<!--This changes the appearance of tokens in the rich text editor
						NOTE: when changed the css will be updated when a token is regenerated-->
						<param name="TokenCss">font-style: italic;background-color: #A0FFD9;text-decoration: none;</param>
          </Tokens>
				</processor>
			</initialize>
			<renderField>
				<processor patch:instead="*[@type='Sitecore.Pipelines.RenderField.GetTextFieldValue, Sitecore.Kernel']"
									 type="TokenManager.Pipelines.RenderField.RenderFieldExpandTokens, TokenManager">
				</processor>
			</renderField>
			<!--Each type of token needs a processor in this pipeline to generate a token collection from a sitecore item-->
			<getTokenCollection>
				<processor type="TokenManager.Pipelines.GetTokenCollection.GetSitecoreCollection, TokenManager" ></processor>
				<processor type="TokenManager.Pipelines.GetTokenCollection.GetDynamicCollection, TokenManager" ></processor>
				<processor type="TokenManager.Pipelines.GetTokenCollection.GetRuleTokenCollection, TokenManager"></processor>
        <processor type="TokenManager.Pipelines.GetTokenCollection.GetSharedLinkCollection, TokenManager"></processor>
        <processor type="TokenManager.Pipelines.GetTokenCollection.GetRenderingTokenCollection, TokenManager" ></processor>
      </getTokenCollection>
    </pipelines>
		<clientscripts>
			<htmleditor>
				<script src="/TokenManager/TokenSelectorCommand.js" language="JavaScript"/>
			</htmleditor>
		</clientscripts>
		<contentSearch>
			<indexConfigurations>
				<defaultLuceneIndexConfiguration>
					<fields hint="raw:AddComputedIndexField">
						<field fieldName="_tokens" storageType="yes" indexType="untokenized">TokenManager.ContentSearch.Tokens, TokenManager</field>
					</fields>

					<!-- for 8.2+ -->
					<documentOptions>
						<fields hint="raw:AddComputedIndexField">
							<field fieldName="_tokens" storageType="yes" indexType="untokenized">TokenManager.ContentSearch.Tokens, TokenManager</field>
						</fields>
					</documentOptions>
				</defaultLuceneIndexConfiguration>

				<defaultSolrIndexConfiguration>
					<fields hint="raw:AddComputedIndexField">
						<field fieldName="_tokens" storageType="yes" indexType="untokenized">TokenManager.ContentSearch.Tokens, TokenManager</field>
					</fields>

					<!-- for 8.2+ -->
					<documentOptions>
						<fields hint="raw:AddComputedIndexField">
							<field fieldName="_tokens" storageType="yes" indexType="untokenized">TokenManager.ContentSearch.Tokens, TokenManager</field>
						</fields>
					</documentOptions>
				</defaultSolrIndexConfiguration>
			</indexConfigurations>
		</contentSearch>
	</sitecore>
</configuration>