<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<events>
			<event name="item:saved">
				<handler type="TokenManager.Pipelines.Saved.TokenSaved, TokenManager" method="OnItemSaved"/>
			</event>
			<event name="item:deleting">
				<handler type="TokenManager.Pipelines.Deleting.TokenDeleting, TokenManager" method="OnItemDeleting"/>
			</event>
			<event name="item:moved">
				<handler type="TokenManager.Pipelines.Moved.TokenMoved, TokenManager" method="OnItemMoved"/>
			</event>
		</events>
		<pipelines>
			<initialize>
				<processor type="TokenManager.Pipelines.Initialize.InitializeTokenManager, TokenManager" >
					<Tokens type="TokenManager.Management.DefaultTokenKeeperService, TokenManager">
						<!--This changes the appearance of tokens in the rich text editor
						NOTE: when changed the css will be updated when a token is regenerated-->
						<param name="TokenCss">font-style: italic;background-color: #A0FFD9;text-decoration: none;display:inline;cursor:pointer;</param>
					</Tokens>
					<Identifier type="TokenManager.Management.DefaultTokenIdentifier, TokenManager">
						<collections hint="raw:AddType" >
							<!-- Legacy Token Collections-->
							<simpleTokenCollection templateId="{D31BC00A-F078-4D5D-A93F-CD0E5C850237}" type="TokenManager.Collections.SimpleSitecoreTokenCollection, TokenManager" ></simpleTokenCollection>
							<sharedLinkCollection templateId="{5273E95E-6857-4CEE-900C-ABCA5EED44C3}" type="TokenManager.Collections.SimpleSitecoreTokenCollection, TokenManager"></sharedLinkCollection>
							<ruleCollection templateId="{147C5339-DB74-413F-A749-AE4C29B7C1F0}" type="TokenManager.Collections.SimpleSitecoreTokenCollection, TokenManager"></ruleCollection>
							<renderingCollection templateId="{A4875CC7-BACE-4F5A-AE35-B9C5502DA26A}" type="TokenManager.Collections.SimpleSitecoreTokenCollection, TokenManager"></renderingCollection>
							<!-- /Legacy Token Collections -->
							<tokenCollection templateId="{B49DB165-E3A5-45D1-B4E7-F5E707B73C9E}" type="TokenManager.Collections.SimpleSitecoreTokenCollection, TokenManager" ></tokenCollection>
						</collections>
						<tokens hint="raw:AddType">
							<simpleToken templateId="{87BFAA2C-2E2F-42C6-A135-9F2AE7D32807}" type="TokenManager.Data.Tokens.SitecoreToken, TokenManager" ></simpleToken>
							<sharedLinkToken templateId="{98850963-EC5A-4A3C-A292-78103D3AC6E9}" type="TokenManager.Data.Tokens.SharedLinkToken, TokenManager" ></sharedLinkToken>
							<ruleToken templateId="{7D6A72CC-D346-43D2-A279-EF6CA27BCF31}" type="TokenManager.Data.Tokens.RuleToken, TokenManager" ></ruleToken>
							<renderingToken templateId="{B5C519E3-9EEE-4914-9FCE-51B0B0800697}" type="TokenManager.Data.Tokens.RenderingToken, TokenManager" ></renderingToken>
						</tokens>
					</Identifier>
				</processor>
			</initialize>
			<renderField>
				<processor patch:after="*[@type='Sitecore.Pipelines.RenderField.GetTextFieldValue, Sitecore.Kernel']"
									 type="TokenManager.Pipelines.RenderField.RenderFieldExpandTokens, TokenManager">
				</processor>
			</renderField>
			<!--Each type of token needs a processor in this pipeline to generate a token collection from a sitecore item-->
			<getTokenCollection>
				<processor type="TokenManager.Pipelines.GetTokenCollection.GetDynamicCollection, TokenManager" ></processor>
				<processor type="TokenManager.Pipelines.GetTokenCollection.GetSitecoreCollection, TokenManager" ></processor>
			</getTokenCollection>
			<mvc.renderRendering patch:source="Sitecore.Mvc.config">
				<processor patch:instead="*[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.SetCacheability, Sitecore.Mvc']" type="TokenManager.Pipelines.Mvc.RenderRendering.SetCacheAbility, TokenManager"/>
			</mvc.renderRendering>
		</pipelines>
		<clientscripts>
			<htmleditor>
				<script src="/TokenManager/TokenSelectorCommand.js" language="JavaScript"/>
			</htmleditor>
		</clientscripts>
		<contentSearch>
			<indexConfigurations>
				<defaultLuceneIndexConfiguration>
					<!-- for 8.1- -->
					<!--<fields hint="raw:AddComputedIndexField">
						<field fieldName="_tokens" storageType="yes" indexType="untokenized">TokenManager.ContentSearch.Tokens, TokenManager</field>
					</fields>-->

					<!-- for 8.2+ -->
					<documentOptions>
						<fields hint="raw:AddComputedIndexField">
							<field fieldName="_tokens" storageType="yes" indexType="untokenized">TokenManager.ContentSearch.Tokens, TokenManager</field>
						</fields>
					</documentOptions>
				</defaultLuceneIndexConfiguration>

				<defaultSolrIndexConfiguration>
					<!-- for 8.1- -->
					<!--<fields hint="raw:AddComputedIndexField">
						<field fieldName="_tokens" storageType="yes" indexType="untokenized">TokenManager.ContentSearch.Tokens, TokenManager</field>
					</fields>-->

					<!-- for 8.2+ -->
					<documentOptions>
						<fields hint="raw:AddComputedIndexField">
							<field fieldName="_tokens" storageType="yes" indexType="untokenized">TokenManager.ContentSearch.Tokens, TokenManager</field>
						</fields>
					</documentOptions>
				</defaultSolrIndexConfiguration>
			</indexConfigurations>
		</contentSearch>
	</sitecore>
</configuration>