@using System.Net.Configuration
@model TokenManagerDemo.Map.MapModel
<div style="width: 100%">
	<iframe width="100%" height="600" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=@Model.Address&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
		<a href="https://www.maps.ie/create-google-map/">
			Embed Google Map
		</a>
	</iframe>
</div><br />